@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:200,500,400,700&display=swap');

body{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    font-size:24px;
    background-color: white;
}

.submission{
    transition: opacity .5s ease-in-out;
}

.container{
    background-color: white;
}

.impact-header{
    background-color: black;
    padding:10px;
    color:white;
}

.date{
    font-weight: 100;
    font-size:18px;
}
.excerpt{
    font-size:20px;
}
.btn-primary{
    background-color: #8c8c8c;
    border:0;
    border-radius:0;
    padding:10px 15px;
    font-family:'IBM Plex Sans';
    font-weight: 400;
    font-size:20px;
}

.btn-primary:hover{
    background-color: #505050;

}
.bg-light{
    background-color: white;
}

.navbar-brand{
    font-weight: 500;
    font-size: 2.3rem;
    color:#7d7d7d;
    padding:0px 15px;


}


h1{
    font-weight: 700;
    font-size: 3rem;
    background-color: black;
    color:white;
    padding: 15px 10px;
}

p{
    line-height: 40px;
    margin:0;
}
.section{
    font-weight: 200;
}
.navbar > .container{
    justify-content: start;
    align-items: flex-start;
    border-bottom: 1.5px solid #eaeaea
}
 


.nav-link:not(:first-child) {
    
    margin-left:15px;
}

.navbar-nav{
    flex-direction: row;
    padding-left:15px;

}

.nav-link{
    padding:5px 15px!important;
    font-size:18px;
    transition: all .5s ease-in-out;
}
.pl-0{
    padding-left:15px;
}
.nav-link:hover{
    background-color: black;
    color:white!important;
}

input, textarea{
    border-radius: 0!important;
}

.success{
    color:green
}

@media only screen and (max-width: 600px) {
h1,h2,h3,h4{
    text-align: left;
}

.nav-link{
    padding: 5px 10px!important;
}

}